.modal-wd {
  /* Occupy the 90% of the screen width */
  width: 350px;
}
.modal-map {
  max-width: 90%;
}
.color-yellow {
  color: #ffc700;
}
.color-grey {
  color: #b1b1b1;
}
.color-grey > a {
  color: #b1b1b1;
}
.cursor-pointer {
  cursor: pointer;
}
.input-app {
  background-color: rgba(210, 210, 210, 0.25);
  border: 2px solid #d2d2d2;
}
.input-app:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(36, 28, 18, 0.6);
  border: 3px solid#433434;
  background-color: rgba(210, 210, 210, 0.25);
}
.btn-app {
  width: 100%;
  background-color: #433434;
  color: #fff;
}
.btn-app:hover {
  width: 100%;
  background-color: #433434;
  color: #fff;
}
.btn-app:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(36, 28, 18, 0.6);
  border: 1px solid#433434;
}
.bg-app {
  background-color: #ffc107 !important;
}
.mapboxgl-canvas {
  position: unset;
}
